<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /APEC26_Premium_main/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /APEC26_Premium_main/index.html [L]
</IfModule>
